.login-background-style{
    height:100vh;
}

.outer-style-login{
    padding-top:2rem;
    padding-left:32rem;
    padding-right:32rem;
    
}
.card-alternate {
    margin-top:2rem;
    text-align: center;
    padding-top:0.7rem;
}
.image-style{
    width:65px;
    height:65px;
    border-radius:50%;
    margin-left:8.5rem;
    margin-bottom: 2rem;
}
.login-p-style{
    margin-left:5rem;
    font-size:1.5rem;
}
.card-background{
    background-color: rgba(95, 97, 209, 0.041);
}
.input-style-login{
    padding-top:2rem;
    padding-left:1rem;
    padding-right:1rem;
}
.input-style1-login{
    
    padding-left:1rem;
    padding-right:1rem;
}
.input-button{
    margin-bottom:2rem;
}
.errmsg{
    color:red;
} 
.inputstyle{
    border-color:red;
}
.inputstyle1{
    border-color:green;
}
.Button {
    margin-left:1rem;
    padding-left:7.5rem;
    padding-right:8rem;
    margin-bottom: 2rem;
}