.card-style{
    background-color: #00800017;
}
.login-outer-style-register{
    margin-left: 30rem;
    margin-right: 30rem;
    margin-top:3rem;
    margin-bottom:3rem;
}
.input-style-register{
    padding-left:2rem;
    padding-right:2rem;
}

.input-button{
    padding-bottom:2rem;
} 
.touch-style{
    color:red;
}